body {
  color: #ffa5a5;
  font-family: "Exo 2";
  background-color: #400000; }

h1, h2, h3 {
  font-family: "Cinzel";
  color: #ffff80; }

.navbar-vc {
  vertical-align: center; }

.navbar-separator {
  vertical-align: center;
  color: #ffff80; }

.social-icon {
  vertical-align: bottom;
  color: #ffff80; }
