$color-header: #ffff80;
$color-text: #ffa5a5;
$color-background: #400000;

$body-font: "Exo 2";
$header-font: "Cinzel";

body {
	color: $color-text;
	font-family: $body-font;
	background-color: $color-background;
}

h1, h2, h3 {
	font-family: $header-font;
	color: $color-header;
}

.navbar-vc {
	vertical-align: center;
}

.navbar-separator {
	vertical-align: center;
	color: $color-header;
}
